body {
    background-color: aquamarine;
}
.bg {
    background-color: aquamarine;
}
.boxed {
    border: 2px solid green ;
    margin-bottom: 5px;
}

.boxed:hover {
    background-color: green;
    color: pink
}

.centered {
    text-align: center;
    align-self: center;
}

h1 {
    color: green
}